{% extends 'staffpage/Staff_index.html' %}
{% block body %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <title>Staff  view allocated subject</title>#}
{#  <!-- Bootstrap CSS -->#}
{#  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">#}
{#  <!-- DataTables CSS -->#}
{#  <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">#}
{#</head>#}
{##}
{#<body>#}
  <div class="container mt-5">
    <h2 class="mb-4">View Allocated subjects</h2>
    <table id="registrationTable" class="table table-striped table-bordered">
      <thead class="table-light">
        <tr>
          <th>SNO</th>
          <th>Lab Subject</th>
          <th>Course</th>
          <th>Sem</th>
          <th>Date</th>
          <th></th>


         
        </tr>
      </thead>
      <tbody class="fw-bold text-dark">
        <!-- Sample Data Row -->
        {% for i in data %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ i.LABSUB.subject }}</td>
          <td>{{ i.LABSUB.COURSE.coursename }}</td>
          <td>{{ i.LABSUB.sem }}</td>
            <td>{{ i.date }}</td>
            <td><a class="btn btn-sm btn-primary" href="/myapp/staff_view_system_get/{{ i.LABSUB.COURSE.id }}">System</a>
          <a class="btn btn-sm btn-primary" href="/myapp/staff_view_stud_sys_sub_allocation_get/{{ i.LABSUB.COURSE.id }}/{{ i.LABSUB.sem }}">Students</a>
          <a class="btn btn-sm btn-primary" href="/myapp/staff_view_attendance_get/{{ i.LABSUB.COURSE.id }}/{{ i.LABSUB.sem  }}">Attendance</a></td>

        </tr>
        {% endfor %}
        <!-- Add more rows dynamically from backend -->
      </tbody>
    </table>
  </div>


{% endblock %}