{% extends 'adminpage/admin_index.html' %}
{% block body%}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>allocate lab to assistant</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#   #}
{#</head>#}
{#<body>#}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Allocate Labs To Lab Assistant </h2>
                <form action="/myapp/admin_assistallocation_post/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="dept">labs</label>
                        <select  class="form-control" id="labs" name="labs"  >
                        {% for i in data %}
                            <option value="{{ i.id }}">{{ i.labname }}</option>
                        {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="dept">lab assistant</label>
                        <select  class="form-control" id="labassist" name="labassist"  >
                            {% for i in data1 %}

                            <option value="{{ i.id }}">{{ i.labassistantname }}</option>
                            {% endfor %}

                        </select>
                    </div>






                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}
{% endblock %}