{% extends 'adminpage/admin_index.html' %}
{% block body%}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Admin Lab subject scheduling</title>#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">#}
{#    <style>#}
{#        .container .row {#}
{#            justify-content: center;#}
{#        }#}
{#    </style>#}
{##}
{##}
{#</head>#}
{#<body>#}
<div class="container">
    <h2 class="mb-4 text-center">Admin  Edit Lab subject scheduling</h2>
    <form method="post" action="/myapp/admin_editlab_schedule_post/">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ data.id }}">
        <div class="row mb-3">
            <label for="day" class="col-sm-2 ">Day</label>
            <div class="col-sm-5">
                <select class="form-select" id="day" name="day" required>
                    <option value="monday" {% if data.day == 'monday'%}selected{% endif %}>Monday</option>
                    <option value="tuesday" {% if data.day == 'tuesday'%}selected{% endif %}>tuesday</option>
                    <option value="wednesday"{% if data.day == 'wednesday'%}selected{% endif %}>Wednesday</option>
                    <option value="thursday" {% if data.day == 'thursday'%}selected{% endif %}>Thusrday</option>
                    <option value="friday" {% if data.day == 'friday'%}selected{% endif %}>Friday</option>

                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 ">Hour</label>

            <div class="col-sm-2">
                <label class="col-sm-1 ">from</label>
                <select class="form-select" id="from" name="from" required>
                    <option value="1" {% if fromtime == '1'%}selected{% endif %}>1</option>
                    <option value="2" {% if fromtime == '2'%}selected{% endif %}>2</option>
                    <option value="3" {% if fromtime == '3'%}selected{% endif %}>3</option>
                    <option value="4" {% if fromtime == '4'%}selected{% endif %}>4</option>
                    <option value="5" {% if fromtime == '5'%}selected{% endif %}>5</option>

                </select>
            </div>

            <div class="col-sm-2">
                <label class="col-sm-1 ">To</label>
                <select class="form-select" id="to" name="to" required>
                     <option value="1" {% if totime == '1'%}selected{% endif %}>1</option>
                    <option value="2" {% if totime == '2'%}selected{% endif %}>2</option>
                    <option value="3" {% if totime == '3'%}selected{% endif %}>3</option>
                    <option value="4" {% if totime == '4'%}selected{% endif %}>4</option>
                    <option value="5" {% if totime == '5'%}selected{% endif %}>5</option>

                </select>
            </div>


        </div>

        <div class="row mb-3">
            <label for="lab" class="col-sm-2 ">Lab</label>
            <div class="col-sm-5">
                <select class="form-select" id="lab" name="lab" required>
                    {% for i in lab %}
                    <option value="{{ i.id }}">{{ i.LAB.labname }}-{{ i.LABASSIST.labassistantname }}</option>
                    {% endfor %}
                </select>
            </div>


        </div>

        <div class="row mb-3">
            <label for="labsub" class="col-sm-3 ">Lab subject</label>
            <div class="col-sm-2">
                <label class="col-sm-1 ">Course</label>
                <select class="form-select" id="labsub" name="course" required>
                    {% for i in course %}
                    <option value="{{ i.id }}">{{ i.coursename }}</option>
                {% endfor %}
                </select>
            </div>

            <div class="col-sm-2">
                <label class="col-sm-1 ">Sem</label>
                <select class="form-select" id="sem" name="sem" required>
                      <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>


        </div>

        <div class="row mb-3">
            <label for="sub" class="col-sm-2 ">Subject</label>
            <div class="col-sm-5">
                <select class="form-select" id="sub" name="sub" required>

                    {% for i in labsub %}
                    <option value="{{ i.id }}">{{ i.subject }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="row mb-3">

            </div>


            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
    </form>
</div>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>#}
{#</body>#}
{#</html>#}
{% endblock %}