{%  extends 'adminpage/admin_index.html' %}
{% block body %}{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Edit Lab</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#   #}
{#</head>#}
{#<body>#}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Edit Lab</h2>
                <form action="/myapp/admin_editlab_post/" method="post">
                    {% csrf_token %}


                    <input type="hidden" value="{{ data.id }}" name="id">
                    <div class="form-group">
                        <label for="labno">Lab No</label>
                        <input type="text"  class="form-control" id="labno" value="{{ data.labno }}" name="labno" placeholder="Type here" required>

                        </input>
                    </div>


                    <div class="form-group">
                        <label for="labname">Lab Name</label>
                        <input type="text" class="form-control" id="labname" value="{{ data.labname }}" name="labname" placeholder="Enter your labname" required>
                    </div>



                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}
{% endblock %}