{%  extends 'adminpage/admin_index.html' %}
{% block body %}

  <div class="container mt-5">
    <h3 class="mb-4">View Lab Assistant</h3>



    <!-- Complaints Table -->
    <div class="table-responsive">
      <table class="table table-bordered table-hover" id="labassist">
        <thead class="table-light">
          <tr>
            <th>SNo</th>
            <th>lab assistant name</th>
              <th>DOB</th>
               <th>Phone</th>
               <th>gender</th>
               <th>Place</th>
               <th>city</th>
               <th>state</th>
               <th>Pincode</th>




            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Sample Data Rows -->
          {% for i in data %}
          <tr>
            <td width="5%">{{ forloop.counter }}</td>
            <td>{{ i.labassistantname }}</td>
              <td>{{ i.dob }}</td>
              <td>{{ i.phone }}</td>
              <td>{{ i.gender }}</td>
              <td>{{ i.place }}</td>
              <td>{{ i.city }}</td>
              <td>{{ i.state }}</td>
              <td>{{ i.pincode }}</td>







            <td width="15%">
                <a href="/myapp/admin_editlabassist_get/{{ i.id }}" class="btn btn-sm btn-success">Edit</a>
                <a href="/myapp/admin_deletelabassist_get/{{ i.USER.id }}" class="btn btn-sm btn-danger">Delete</a>


            </td>
          </tr>
          {% endfor %}

          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>

    {% block scripts %}
<script>
    $(document).ready(function () {
        $('#labassist').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            pageLength: 10
        });
    });
</script>

{% endblock %}
{% endblock %}