{% extends 'adminpage/admin_index.html' %}
{% block body %}

<!-- DataTables CSS -->

<div class="container mt-5">
    <h3 class="mb-4">View Course</h3>

    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dept">
            <thead class="table-light">
                <tr>
                    <th>SNo</th>
                    <th>Department</th>
                    <th>Course</th>
                    <th>Total Sem</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td width="5%">{{ forloop.counter }}</td>
                    <td>{{ i.DEP.departementname }}</td>
                    <td>{{ i.coursename }}</td>
                    <td>{{ i.totelsem }}</td>
                    <td width="15%">
                        <a href="/myapp/admin_editcourse_get/{{ i.id }}" class="btn btn-sm btn-success">Edit</a>
                        <a href="/myapp/admin_delete_course/{{ i.id }}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- jQuery -->

<!-- DataTable Init -->
    {% block scripts %}
<script>
    $(document).ready(function () {
        $('#dept').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            pageLength: 10
        });
    });
</script>

{% endblock %}
{% endblock %}
