{% extends 'adminpage/admin_index.html' %}
{% block body %}

    <div class="container mt-5">
        <h3 class="mb-4">View Attendance Report</h3>



        <!-- Complaints Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="complaintTable">
                <thead class="table-light">
                    <tr>
                        <th>SNo</th>
                        <th>Student name</th>
                        <th>Depatment</th>
                        <th>Course</th>
                        <th>Sem</th>
                        <th>Date</th>
                        <th>Status</th>



                    </tr>
                </thead>
                <tbody>
                    <!-- Sample Data Rows -->
                    {% for i in data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.STUDENT.studentname}}</td>
                        <td>{{ i.STUDENT.COURSE.DEP.departementname }}</td>
                        <td>{{ i.STUDENT.COURSE.coursename }}</td>
                        <td>{{ i.STUDENT.sem }}</td>
                        <td>{{ i.date }}</td>
                        <td>{{ i.status }}</td>




                    </tr>
                    {% endfor %}

                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>


  {% block scripts %}
<script>
    $(document).ready(function () {
        $('#complaintTable').DataTable({
            paging: true,
            searching: true,
            ordering: true,
            pageLength: 10
        });
    });
</script>

{% endblock %}

{% endblock %}