{% extends 'labassistpage/labassist_index.html' %}
{% block body %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Lab Assistant Add system helath reports</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#   #}
{#</head>#}
{#<body>#}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Lab Assistant Add System Health Reports </h2>
                <form action="/myapp/labassist_addsys_healthreport_post/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="dept">Sno/Name</label>
                        <select  class="form-control" id="labs" name="system"  required>
                        {% for i in data %}
                            <option value="{{ i.id }}">{{ i.systemno }}</option>
                        {% endfor %}
                        </select>
                    </div>
                  <div class="mb-3">
        <label for="reviewText" class="form-label">Message</label>
        <textarea class="form-control" id="reviewText" name="message" rows="4" placeholder="Write your review here..." required></textarea>
      </div>






                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}
{% endblock %}