{% extends 'labassistpage/labassist_index.html' %}
{% block body %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Allocate System To Student</title>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">#}
{#   #}
{#</head>#}
{#<body>#}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Edit system allocation for students </h2>
                <form method="post" action="/myapp/labassist_edit_sys_allocation_post/">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ data.id }}">

                    <div class="form-group">
                        <label for="dept">Student</label>
                        <select  class="form-control" id="student" name="student" required>
                            {% for i in student %}
                            <option value="{{ i.id }}">{{ i.studentname }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dept">System</label>
                        <select  class="form-control" id="system" name="system"  required>
                            {% for i in system %}

                            <option value="{{ i.id }}">{{ i.systemno }}</option>
                            {% endfor  %}
                        </select>
                    </div>






                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>

            </div>
        </div>
    </div>
{#    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>#}
{#</body>#}
{#</html>#}
{% endblock %}