{% extends 'labassistpage/labassist_index.html' %}
{% block body %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <form method="post" action="">
        {% csrf_token %}
          <input type="hidden" value="{{ data.id }}" name="id">
          <div class="card shadow-lg border-0 rounded-4">
          <div class="card-body text-center">

            <h4 class="card-title mb-3">Profile</h4>
            <div class="text-start px-4">
              <p><strong>Name:</strong> {{ data.labassistantname }}</p>
              <p><strong>Date of Birth:</strong>{{ data.dob }}</p>
              <p><strong>Gender:</strong>{{ data.gender }}</p>
              <p><strong>place:</strong> {{ data.place}}</p>
              <p><strong>E mail:</strong>{{ data.email }}</p>
              <p><strong>Phone:</strong>{{ data.phone }}</p>
              <p><strong>City:</strong>{{ data.city }}</p>
              <p><strong>State:</strong> {{ data.state }}</p>
              <p><strong>Pincode:</strong>{{ data.pincode }}</p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
